
<!-- Impact -->
<div class="container py-4 py-xl-5">
    <div class="text-center text-white-50 bg-primary border rounded border-0 p-3">
        <div class="row row-cols-2 row-cols-md-4">
            <div class="col">
                <div class="p-3">
                    <h4 class="display-5 fw-bold text-white mb-0">10.000+</h4>
                    <p class="mb-0">Abonati</p>
                </div>
            </div>
            <div class="col">
                <div class="p-3">
                    <h4 class="display-5 fw-bold text-white mb-0">20+</h4>
                    <p class="mb-0">Tari</p>
                </div>
            </div>
            <div class="col">
                <div class="p-3">
                    <h4 class="display-5 fw-bold text-white mb-0">67+</h4>
                    <p class="mb-0">Sau intors in tara</p>
                </div>
            </div>
            <div class="col">
                <div class="p-3">
                    <h4 class="display-5 fw-bold text-white mb-0">400</h4>
                    <p class="mb-0">Vor sa se intoarca</p>
                </div>
            </div>
        </div>
    </div>
</div>