<section class="py-4 py-xl-5">
    <div class="container">
        <div class="text-center p-4 p-lg-5">
            <p class="fw-bold text-primary mb-2">Acasa poate fi doar in Moldova</p>
            <h1 class="fw-bold mb-4">Conectează-te cu Casa Ta: Portalul Diasporei</h1>
            
            <button class="btn btn-primary fs-5 me-2 py-2 px-4" type="button">Vreau sa ma intorc acasa</button>
            <button class="btn btn-light fs-5 py-2 px-4" type="button">Am nevoie de consultanta financiara</button>
        </div>
    </div>
</section>

<app-discover></app-discover>

<app-impact></app-impact>

<app-our-team></app-our-team>

<app-testimonials></app-testimonials>
