

<section class="newsletter-subscribe py-4 py-xl-5">
    <div class="container">
        <div class="row mb-2">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2 class="display-6 fw-bold">Aboneazate pentru a fi la curent cu ultimele evenimente din Moldova</h2>
                <p class="text-muted">Conectează-te cu Moldova și Diaspora într-un singur loc! 
                    Abonează-te pentru a fi mereu la curent cu ultimele evenimente din inima țării noastre și din întreaga lume. 
                    Descoperă povești captivante, bucură-te de tradiții autentice și fii parte din conversațiile care unesc comunitățile. 
                    Alătură-te nouă în călătoria spre cunoaștere și conexiune globală. 🌐🇲🇩 #LaCurentCuMoldova #ConexiuniGlobale</p>
            </div>
        </div>
        <form class="d-flex justify-content-center flex-wrap" method="post">
            <div class="mb-3"><input class="form-control" type="email" name="email" placeholder="Your Email" /></div>
            <div class="mb-3"><button class="btn btn-primary ms-2" type="submit">Ma abonez </button></div>
        </form>
    </div>
</section>

<app-home></app-home>