<nav class="navbar align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 navbar-dark d-none d-md-grid"
style="height: 100%" >
    <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
            <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
            <div class="sidebar-brand-text mx-3"><span>Brand</span></div>
        </a>
        <hr class="sidebar-divider my-0">
        <ul class="navbar-nav text-light" id="accordionSidebar">
            
            <li class="nav-item">
                <a class="nav-link" routerLink="">
                    <span>Acasa</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="anunturi">
                    <span>Anunturi</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="evenimente">
                    <span>Evenimente</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/utilizatori">
                    <span>Utilizatori</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/our-story">
                    <span>Povestea noastra</span>
                </a>
            </li>
        </ul>
    </div>
</nav>