

<div>
  <div id="wrapper">
    <app-sidebar></app-sidebar>
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">        
            <app-topbar></app-topbar>

            <div class="container-fluid pb-5 pt-3" style="overflow: auto;">
                <router-outlet></router-outlet>
            </div>

           <app-bottombar></app-bottombar>
        </div>
    </div>
    <a class="border rounded d-inline scroll-to-top" href="#page-top"><mat-icon>keyboard_arrow_up</mat-icon></a>
</div>
</div>

