<div class="card mb-5">
    <div class="card-body p-sm-5">
        <h2 class="text-center mb-4">Add Post</h2>
        <form (ngSubmit)="addPost()">
            <div class="mb-3">
                <input id="name-2" class="form-control" type="text" [(ngModel)]="title" name="title" required placeholder="Title" />
            </div>
           
            <div class="mb-3">
                <textarea id="message-2" class="form-control" [(ngModel)]="message" name="message" rows="6" placeholder="Message"></textarea>
            </div>
            <div>
                <button class="btn btn-primary d-block w-100" type="submit">Send </button>
            </div>
        </form>
    </div>
</div>