<div class="row mb-2">
    <div class="col-md-8 col-xl-6 text-center mx-auto">
        <h2 class="display-6 fw-bold">Povestea noastra</h2>
        <p class="text-muted"> Cum am ajuns aici, ce vom face in continuare si ce impact va avea?.</p>
    </div>
</div>

<div class="container">
    <div class="border rounded border-0 d-flex flex-column justify-content-center align-items-center p-4 py-5" style="background: linear-gradient(rgba(0,123,255,0.2), rgba(0,123,255,0.2)), url('https://cdn.bootstrapstudio.io/placeholders/1400x800.png') center / cover;height: 500px;">
        <div class="row">
            <div class="col-md-10 col-xl-8 text-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center mx-auto justify-content-md-start align-items-md-center justify-content-xl-center">
                <div>
                    <h1 class="text-uppercase fw-bold mb-3">Cine Suntem?</h1>
                    <p class="mb-4">Tineri motivati sa faca o schimbare.<br />#SchimbareaSuntemNoi #SchimpareIncepeCuTine</p><button class="btn btn-primary fs-5 me-2 py-2 px-4" type="button">Vreau In Echipa</button>
                </div>
            </div>
        </div>
    </div>
</div>

<app-our-team></app-our-team>


<div class="container h-100">
    <div class="text-white bg-primary border rounded border-0 p-4 py-5">
        <div class="row h-100">
            <div class="col-md-10 col-xl-8 text-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center mx-auto justify-content-md-start align-items-md-center justify-content-xl-center">
                <div>
                    <h1 class="text-uppercase fw-bold text-white mb-3">Vrem Sa unim toti Moldoveni din Diaspora</h1>
                    <p class="mb-4">Usor dezis greu de facut. Tocmai din acest motiv va cerem ajutorul tuturor.<br />De la idei de business la evenimente. Si tu poti sa o faci!</p><button class="btn btn-light fs-5 py-2 px-4" type="button">Vreau sa ajut</button>
                </div>
            </div>
        </div>
    </div>
</div>


