
<!-- Testimoniale -->
<div class="container py-4 py-xl-5">
    <div class="row mb-5">
        <div class="col-md-8 col-xl-6 text-center mx-auto">
            <h2>Testimoniale</h2>
        </div>
    </div>
    <div class="row gy-4 row-cols-1 row-cols-sm-2 row-cols-lg-3 d-md-flex justify-content-md-center align-items-md-center">
        <div class="col">
            <div>
                <p class="bg-body-tertiary border rounded border-0 p-4">&quot;Descoperind Moldova prin intermediul unei aplicații, m-am simțit aproape de casă, chiar și la distanță. Știri proaspete, evenimente și detalii minuțioase m-au ajutat să păstrez legătura cu rădăcinile mele. O aplicare care aduce acasă la tine oriunde ești!&quot;</p>
                <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png" />
                    <div>
                        <p class="fw-bold text-primary mb-0">Ana din Italia</p>
                        <p class="text-muted mb-0">plecata de 10 ani</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div>
                <p class="bg-body-tertiary border rounded border-0 p-4">&quot;Viața în diaspora poate fi provocatoare, dar o aplicație inteligentă mi-a făcut zilele mai ușoare. Știri locale, evenimente și povești inspiraționale - totul la un click distanță. Mă simt mereu la curent cu Moldova.&quot;</p>
                <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png" />
                    <div>
                        <p class="fw-bold text-primary mb-0">Vlad din Spania</p>
                        <p class="text-muted mb-0">nicaieri nu e ca acasa</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div>
                <p class="bg-body-tertiary border rounded border-0 p-4">&quot;A fi la curent cu știrile și evenimentele din Moldova a devenit o experiență zilnică datorită acestei aplicații. Testimoniale, relatări și detalii minuțioase mă fac să mă simt conectată și implicată în viața de acasă.&quot;</p>
                <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png" />
                    <div>
                        <p class="fw-bold text-primary mb-0">Elena din Canada</p>
                        <p class="text-muted mb-0">Acum pot sa vin acasa in sfarsit</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div>
                <p class="bg-body-tertiary border rounded border-0 p-4">&quot;O aplicație care aduce Moldova mai aproape de mine! Cu ajutorul acestei platforme, am acces la știri actuale, evenimente locale și oportunitati de investiitii extraordinare. Un mod excelent de a rămâne conectat la casa mea din străinătate. Cu scopul de a ma intoarce in viitorul apropiat.&quot;</p>
                <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png" />
                    <div>
                        <p class="fw-bold text-primary mb-0">Andrei din SUA:</p>
                        <p class="text-muted mb-0">#InvestescInMoldova</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div>
                <p class="bg-body-tertiary border rounded border-0 p-4">&quot;Această aplicație este un adevărat ghid pentru moldovenii din diaspora. Îmi oferă știri în timp real, evenimente și povești umane care mă fac să simt că sunt parte din fiecare moment important acasă.&quot;</p>
                <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png" />
                    <div>
                        <p class="fw-bold text-primary mb-0">Maria din Marea Britanie</p>
                        <p class="text-muted mb-0">#RecentMutataInMoldova</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
